.bg{
    background-image: url(portfoliobg.jpg);
    background-attachment: scroll;
}
.image{
   
    height: 300px;
    width: 300px;

}
.captioncolor{
    font-size: larger;
    color: white;
}
custom-shadow {
box-shadow: 0 1rem 3rem rgba(0, 123, 255, 0.5); 
}
.h1{
    color: aqua;
}
.p{
    color: white;
}